[Unit]
Description=autossh
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
User=xshore
EnvironmentFile=/etc/default/autossh
ExecStart=/usr/bin/autossh -M {{ ssh_monitor_port }} -N xback -f /home/xshore/.ssh/config
Restart=always
RestartSec=5
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target
